<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/login.css">
        <script src="/js/login.js"></script>
    </head>
    <body>
        <div id="page">
            {% include 'twig/navbar.twig' %}
            <div id="main-content">
                <div class="alert {{type}}">
                    {{text}}
                </div>
                <form id="logForm" method="GET" action="/auth/local/login">
                    <p id="logTitle">Login Here</p>
                    <label for="email">Email:</label>
                    <input type="email" name="email" placeholder="Email Here:"/>
                    <br/>
                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Password:"/>
                    <br/>
                    <input type="submit" class="btn btn-success" name="submit"/>
                    <a href="/auth/twitter/login"><img src="/img/sign-in-with-twitter-link.png"></img></a>
                    <a href="/auth/github/login">Login With: <span class="fa fa-github fa-4"></span>Github</a>
                </form>
            </div>
        </div>
    </body>
</html>